$light-blue: #3fb6c3;
$middle-blue: #0A6E70;
$dark-blue: #172A36;
$light-gray-bg :#EAF1F6;
$light-blue-08: rgba(63, 182, 195, 0.8);
$light-blue-09: rgba(63, 182, 195, 0.9);
$light-golden: #F6F4F2;
$bali-blue: #3FC3B9;

.light-blue {
    color: $light-blue;
}

.middle-blue {
    color: $middle-blue;
}

.dark-blue {
    color: $dark-blue;
}

.light-golden {
    color: $light-golden
}

.bali-blue {
    color: $bali-blue;
}

.bg-light-blue {
    background-color: $light-blue !important;
}

.bg-middle-blue {
    background-color: $middle-blue !important;
}

.bg-dark-blue {
    background-color: $dark-blue !important;
}

.light-gray-bg {
    background-color: $light-gray-bg !important;
}

.cu-bg-white {
    background-color: white;
}

.bg-light-blue-08 {
    background-color: $light-blue-08;
}

.bg-light-blue-09 {
    background-color: $light-blue-09;
}

.bg-light-golden {
    background-color: $light-golden !important;
}