.img-container {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}

.text-container {
    line-height: 1.6rem;
    font-weight: 500;
}