@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.calendar {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar-day {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: start;
    font-size: 0.7rem;
    font-weight: bold;
}

.responsive-lg-width {
    width: 90px;
    height: 90px;
}

.responsive-sm-width {
    width: 50px;
    height: 50px;
}

.calendar-header {
    .h2 {
        font-weight: 100;
    }
}

.calendar-day.empty {
    background-color: transparent;
}

.navigation-icon {
    width: 15px;
}

.event-day {
    background: url('https://images.squarespace-cdn.com/content/v1/645efd8204ce186445584a41/1686472330572-RYWCHT1UOF8BO1YY9KFX/Booked-logo.png');
    background-size: contain;

    span {
        background-color: white;
        padding: 2px;
    }
}