.hover {
    width: 240px;
    height: 240px;
    position: absolute;
    bottom: 110%;
    left: 0;
    display: none;
    text-align: start;
    background-color: #f8f8f8;
    z-index: 999;
    padding: 10px;
  
    &__header {
      font-size: 1rem;
    }
  
    .date {
      font-size: 0.8rem;
    }
  
    p {
      font-size: 0.8rem;
      color: black;
    }
  }
  .visible {
    display: block;
  }
  .hover-mobile {
    width: 200px;
    height: 280px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: start;
    background-color: white ;
    z-index: 999;
    padding: 10px;
  
    &__header {
      font-size: 1rem;
    }
  
    .date {
      font-size: 0.8rem;
    }
  
    p {
      font-size: 0.8rem;
      color: black;
    }
  }
  .visible {
    display: block;
  }
  