.hover {
  width: 220px;
  height: 240px;
  position: absolute;
  bottom: 110%;
  left: 0;
  display: none;
  text-align: start;
  background-color: #f0f0f0;
  z-index: 999;
  padding: 15px;

  &__header {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
    color: black;
  }
}
.visible {
  display: block;
}
