.gallery-one {

    background-repeat: no-repeat !important;
    background-size: cover !important;

    div {
        bottom: 10%;
        padding: 2rem 2rem 2rem 1rem;

        @media (min-width: 768px) {
            padding: 3rem 3rem 3rem 1rem;
        }
    
        // Set height to 100% for large screens
        @media (min-width: 992px) {
            padding: 4rem 4rem 4rem 2rem;
        }
    }
}