@import '../../assets/sass/baseVariables/Color.scss';

.navbar {
    .container-fluid {
        .dropdown-menu {
            right: 0.2rem;
        }
    }

    .cu-account-button {
        font-size: 2rem;
        text-decoration: none;
    }

    .book-btn{
        &:hover {
            background-color: rgb(221, 219, 219);
            border-radius: 7px;
            color: $light-blue;
        }
    }
}

.c-mobile-navbar-expand {
    position: relative;
    top: 0;
    animation: slideInExpand 0.3s cubic-bezier(0.42, 0, 0.58, 1);

    @keyframes slideInExpand {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

.c-mobile-navbar {
    background-color: $dark-blue !important;
    transition: 0.7s;

    .c-mobile-submenu {
        position: relative;
        animation: slideIn 0.3s cubic-bezier(0.42, 0, 0.58, 1);

        @keyframes slideIn {
            0% {
                transform: translateY(20px);
                opacity: 0;
            }

            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }


        .bottom-navbar {
            position: relative;
            animation: slideInBottomNavbar 0.5s cubic-bezier(0.42, 0, 0.58, 1);

            @keyframes slideInBottomNavbar {
                0% {
                    transform: translateY(60px);
                    opacity: 0;
                }

                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }

    }

    .c-slide-end {
        position: relative;
        animation: slideEnd 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    }

    @keyframes slideEnd {
        0% {
            transform: translateX(0px);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    .c-slide-start {
        position: relative;
        animation: slideStart 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    }

    @keyframes slideStart {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    .c-child-end {
        position: relative;
        animation: childSlideEnd 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    }

    @keyframes childSlideEnd {
        0% {
            transform: translateX(0px);
        }

        100% {
            transform: translateX(100%);
        }
    }

    .z-1 {
        height: 100vh;
    }

}

.fade-out {
    position: relative;
    animation: fadeOut 0.3s cubic-bezier(0.42, 0, 0.58, 1);

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
}

.dropdown-item {
    &:hover {
        background-color: $light-blue;
    }
}