@import '../../assets/sass/baseVariables/Color.scss';

.navbar {
    .container-fluid {
        .dropdown-menu {
            right: 0.2rem;
        }
    }

    .cu-account-button {
        font-size: 2rem;
        text-decoration: none;
    }
}

.c-mobile-navbar {
    background-color: $dark-blue !important;
    transition: 0.5s;

    .z-1 {
        height: 100vh;
    }
    
}